@using FarahStoreUtilities
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager
<section id="header">
    <!-- Top NavBar -->
    <div id="encode4325436">
        <div class="container">
            <div class="row">
                <div class="col-8 d-none d-md-block">
                    <ul>
                        <li><a href="./index.html">صفحه نخست</a></li>
                        <li><a href="./about.html">درباره ما</a></li>
                        <li><a href="./contact.html">تماس با ما</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 text-center text-md-end" id="top-encode43vfbb65gtabfb">
                    <span>تلفن مشاوره و فروش: 09351234567</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /Top NavBar -->
    <!-- Search NavBar -->
    <div id="encode43254bvfb">
        <div class="container pt-1">
            <div class="row py-3 align-content-center">
                <div class="col-12 col-md-3 col-xl-2 text-center text-md-start pb-2" id="encode4326523bvfb">
                    <a href="./index.html">
                        <img src="~/assets/images/logo.png" alt=""> روبیک مارکت
                    </a>
                </div>
                <div class="col-12 col-md-5 col-xl-6">
                    <div id="search-bar">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="جستجو کنید...">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        <partial name="_LoginPartial" />
                        <div class="col-12 col-md-5 col-lg-6">
                            <a href="/Cart">
                                <div class="btn btn-warning w-100">
                                    <i class="fa fa-shopping-cart"></i>&nbsp;
                                    <span class="d-md-none d-lg-inline-block">سبد خرید</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Search NavBar -->
    <!-- Main NavBar -->
    <div id="main-nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="droopmenu-navbar dmarrow-down droopmenu-horizontal dmpos-top dmfade">
                        <div class="droopmenu-inner">
                            <div class="droopmenu-header">
                                <a href="#" class="droopmenu-toggle"><i class="dm-burg"></i></a>
                                <span class="d-md-none">منوی فروشگاه</span>
                            </div>
                            <!-- Header Mega Menu-->
                            <div class="droopmenu-nav">
                                <div class="droopmenu-nav-wrap">
                                    <div class="droopmenu-navi">
                                        <ul class="droopmenu">
                                            <li class="droopmenu-parent" aria-haspopup="true">
                                                <a href="#" aria-expanded="false"><i class="fa fa-bars"></i>&nbsp;&nbsp;گروه های محصولات<em class="droopmenu-topanim"></em></a><div class="dm-arrow"></div>
                                                <ul class="droopmenu-grid droopmenu-grid-9">
                                                    <li class="droopmenu-tabs droopmenu-tabs-vertical">
                                                        @await Component.InvokeAsync("MenuComponent")

                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="./about.html">درباره ما<em class="droopmenu-topanim"></em></a></li>
                                            <li class="droopmenu-parent" aria-haspopup="true">
                                                <a href="./contact.html" aria-expanded="false">تماس با فروشگاه<em class="droopmenu-topanim"></em></a><div class="dm-arrow"></div>
                                                <ul style="">
                                                    <li><a href="./faq.html">سوالات متداول</a></li>
                                                    <li><a href="./contact.html">تماس با ما</a></li>
                                                </ul>
                                            </li>
                                            <li class="droopmenu-parent" aria-haspopup="true">
                                                <a href="./blog.html" aria-expanded="false">بلاگ آموزشی<em class="droopmenu-topanim"></em></a><div class="dm-arrow"></div>
                                                <ul style="">
                                                    <li><a href="./blog.html">آرشیو مطالب</a></li>
                                                    <li><a href="./blog-post.html">داخلی بلاگ</a></li>
                                                </ul>
                                            </li>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <li class="droopmenu-parent" aria-haspopup="true">
                                                    <a href="profile/personal-info.html" aria-expanded="false">پروفایل کاربری<em class="droopmenu-topanim"></em></a><div class="dm-arrow"></div>
                                                    @if (User.IsInRole(SD.ManagerRole) || User.IsInRole(SD.EmployeeRole))
                                                    {
                                                        <ul style="">
                                                            <li><a href="/Admin">مشخصات کاربری</a></li>
                                                            <li><a href="profile/factors.html">سفارشات</a></li>
                                                            <li><a href="profile/addresses.html">آدرس ها</a></li>
                                                            <li><a href="profile/favorites.html">علاقه مندی ها</a></li>
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        <ul style="">
                                                            <li><a href="profile/personal-info.html">مشخصات کاربری</a></li>
                                                            <li><a href="profile/factors.html">سفارشات</a></li>
                                                            <li><a href="profile/addresses.html">آدرس ها</a></li>
                                                            <li><a href="profile/favorites.html">علاقه مندی ها</a></li>
                                                        </ul>
                                                    }

                                                </li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /Header Menu Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main NavBar -->
</section>