@model IEnumerable<FarahStoreModel.Models.Category>
<div class="page-title">
    <div class="title_left">
        <h3>جداول
            <small>بعضی از نمونه ها برای شروع کار شما</small>
        </h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="جست و جو برای...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">برو!</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                طراحی جدول
                <small>طراحی شخصی شده</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">تنظیمات 1</a>
                        </li>
                        <li>
                            <a href="#">تنظیمات 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <p>با افزودن کلاس <code dir="ltr">bulk_action</code> برای جدول، جدول دارای  اعمال همگانی می‌شود.</p>

            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                          
                        </tr>
                    </thead>
                    <thead>
                        @foreach (var i in Model)
                        {
                          
                        }
                    </thead>
                  
                </table>
            </div>
        </div>
    </div>
</div>