@model IEnumerable<FarahStoreModel.Models.Category>
<div class="page-title">
    <div class="title_left">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <form method="Post" action="/Admin/Category/index">
                <div class="input-group">
                    <input type="text" class="form-control" name="searchKey" placeholder="جست و جو دسته بندی">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                لیست دسته بندی ها
            </h2>
            <div class="panel_toolbox">
                <a class="btn btn-success">ثبت دسته بندی &nbsp;<i class="fa fa-plus"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            @if (Model.Count() < 1)
            {
                <p>با افزودن کلاس <code dir="ltr">bulk_action</code> برای جدول، جدول دارای  اعمال همگانی می‌شود.</p>
            }
            else
            {
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <td>لوگو</td>
                                <td>عنوان</td>
                                <td>تعداد زیر دسته</td>
                                <td>عملیات</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td><img src="@i.LogoPath" /></td>
                                    <td>@i.Name</td>
                                    @if (i.ChaildCategories.Count < 1)
                                    {
                                        <td>فاقد زیر دسته</td>
                                    }
                                    else
                                    {
                                        <td>@i.ChaildCategories.Count</td>
                                    }
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-info"><i class="fa fa-edit"></i></a>
                                            @if (i.ChaildCategories.Count() > 0)
                                            {
                                                <a class="btn btn-primary">زیردسته ها</a>
                                            }

                                            <a class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            }



        </div>
    </div>
</div>